<div class="template plate"></div>
<div class="template hood"></div>


<div id="conveyor">
</div>

<!-- <img id="dropship" src="/images/dropship.gif" style="position: absolute; left: 50px; top: 50px; z-index: 1" />
<img id="marine" src="/images/marine.png" style="display: none; position: absolute; z-index: 10" />
<img id="stim" src="/images/stim.png" style="display: none; position: absolute; z-index: 10" /> -->